/*
 * Custom Style
 */


.footer 
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto; /* Set the fixed height of the footer here */
	line-height: auto; /* Vertically center the text there */
	background-color: #f5f5f5;
	padding:25px;
}